@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  background-color: black!important;
  color: white!important
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.grid { display: grid; grid-template-columns: repeat(12, 1fr); grid-column-gap: 40px; grid-row-gap: 40px; padding: 70px 0;  }
.row_gap_20 { grid-row-gap: 20px;}

.inner {
  max-width: 1240px; margin: auto; position: relative; align-content: center;
}
​
.long_gap { grid-column-gap: 110px; }
​
.col_1{ grid-column: span 1; }
.col_2{ grid-column: span 2; }
.col_3{ grid-column: span 3; }
.col_4{ grid-column: span 4; }
.col_5{ grid-column: span 5; }
.col_6{ grid-column: span 6; }
.col_7{ grid-column: span 7; }
.col_8{ grid-column: span 8; }
.col_9{ grid-column: span 9; }
.col_10{ grid-column: span 10; }
.col_11{ grid-column: span 11; }
.col_12{ grid-column: span 12; }
​
.grid_5_col { display: grid; grid-template-columns: repeat(5, 1fr); }

@media screen and (max-width: 1200px) {
	
.grid { grid-column-gap: 30px;}
​
.col_in_1{ grid-column: span 1; }
.col_in_2{ grid-column: span 2; }
.col_in_3{ grid-column: span 3; }
.col_in_4{ grid-column: span 4; }
.col_in_5{ grid-column: span 5; }
.col_in_6{ grid-column: span 6; }
.col_in_7{ grid-column: span 7; }
.col_in_8{ grid-column: span 8; }
.col_in_9{ grid-column: span 9; }
.col_in_10{ grid-column: span 10; }
.col_in_11{ grid-column: span 11; }
.col_in_12{ grid-column: span 12; }
​
.long_gap { grid-column-gap: 40px; }	
	
}
